.todo-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;

  .todo-item{
    color: #E86F16;
    background-color: rgba(255, 255, 255, 0.671);
    outline: none;
    width: 250px;
    padding: 10px 10px;
    border-radius: 0.17rem;
    border: solid 1px transparent;
    cursor: text;
    margin: 5px 0;
    list-style: none;
  }
}








